apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummyload
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dummyload
  template:
    metadata:
      labels:
        app: dummyload
    spec:
      containers:
        - name: dummyload
          image: dummyload:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /livez
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 50Mi
            limits:
              cpu: 150m
              memory: 200Mi
---
apiVersion: v1
kind: Service
metadata:
  name: dummyload
  namespace: default
spec:
  type: NodePort
  selector:
    app: dummyload
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8080
